<h1>Prediction : <%= @prediction.name %></h1>

<table>
  <tr>
	<th>name</th>
	<th>Start Time (sec)</th>
	<th>End Time (sec)</th>
	<th>Recording</th>
	<th>Label</th>
  </tr>
  <% @prediction.prediction_items.each do |n| %>
  <tr>
	<td><%= n.name %></td>
	<td><%= n.start_time_sec %></td>
	<td><%= n.end_time_sec %></td>
	<td>
	  <% if !n.recording.nil? %>
		<%= link_to n.recording.name, :controller => 'admin_recordings', :action => 'show', :id => n.recording_id %>
	  <% end %>
	</td>
	<td><%= n.label.nil? ? "" : n.label.name %></td>
  </tr>
  <% end %>
</table>
