<div class="playerholder">
  <img src="<%= call.image %>" width="50px" onmouseover="loadPicture(<%= call.id -%>);" onclick="playAudio('<%= call.audio -%>',<%= call.id -%>,'<%= call.flash_name -%>');">
  <p>
	<%= call.name %> <%= call.matriline %>
  </p>
</div>
