<ul>
  <li><%= rollover_link "home", "index", "main/index", "200", "17" %></li>
  <li><%= rollover_link "about", "about", "main/about", "200", "17" %></li>
  <li><%= rollover_link "tour", "tour", "main/tour", "100", "17" %></li>
  <li><%= rollover_link "orchive", "orchive", "recordings/show/12920", "200", "17" %></li>
  <li><%= rollover_link "people", "people", "main/people", "250", "17" %></li>
</ul>


